<%- include('../partials/header.ejs') %>

<body>
    <div>
        <form action="/register" method="POST">
            <div>
                <label for="gender" class="form-label">Gender: </label>
                <input type="text" class="form-control" name="gender" id="gender" placeholder="Gender" required>
            </div>
            <div>
                <label for="experience" class="form-label">Size: </label>
                <input type="number" class="form-control" name="size" id="experience" placeholder="Experience" required>
            </div>
            <div>
                <label for="age" class="form-label">Age: </label>
                <input type="number" class="form-control" name="age" id="gender" placeholder="Age" required>
            </div>
            <div>
                <label for="address" class="form-label">Address: </label>
                <input type="text" class="form-control" name="address" id="address" placeholder="Address" required>
            </div>
            <div>
                <label for="naam" class="form-label">UserName: </label>
                <input type="text" class="form-control" name="username" id="naam" placeholder="Username" required>
            </div>
            
            <div>
                <label for="pass" class="form-label">Password: </label>
                <input type="text" class="form-control" name="password" id="pass" placeholder="Password" required>
            </div>
            
            <button type="submit">Register</button>
            <p>Already have an account? <a href="/login">Login</a></p>
        </form>
    </div>
</body>
</html>