<%- include('../partials/header.ejs') %>

<body>
    <div>
        <form action="/register" method="POST">
            <div>
                <label for="naam" class="form-label">UserName: </label>
                <input type="text" class="form-control" name="username" id="naam" placeholder="Username" required>
            </div>
            <div>
                <label for="pass" class="form-label">Password: </label>
                <input type="text" class="form-control" name="password" id="pass" placeholder="Password" required>
            </div>
            <div>
                <label for="email" class="form-label">Email: </label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
            </div>
            <div>
                <label for="city" class="form-label">City: </label>
                <input type="text" class="form-control" name="city" id="city" placeholder="City" required>
            </div>
            <div>
                <label for="age" class="form-label">Age: </label>
                <input type="number" class="form-control" name="age" id="gender" placeholder="Age" required>
            </div>
            
            <button type="submit">Register</button>
            <p>Already have an account? <a href="/login">Login</a></p>
        </form>
    </div>
</body>
</html>