<%- include('./header') %>

  <nav class="navbar fixed-top navbar-expand-lg" style="background-color: white;">
    <div class="container">
      <a class="navbar-brand" href="/posts">Socify</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          
          <li class="nav-item">
          <form action="/posts/new" method = "GET">
            <button type="submit" class = "btn nav-link">Add new Post</button>
          </form>
        </li>
        </ul>
        <div class="d-flex justify-content-center align-items-center" role="search">
          <% if(!currentUser){ %>
            <a href="/login" class="nav-link mx-2">Login</a>
            <% } else{ %>

              <ul class="d-flex justify-content-between nav navbar-nav mx-auto">
               
                <li class="nav-item"><a class="nav-link" href="#">Hello <%= currentUser.username.toUpperCase() %></a>
                </li>
                
              </ul>
              </a>
              <a href="/logout" class="nav-link mx-2">Logout</a>
              <% } %>
        </div>
      </div>
    </div>
  </nav>